//

.message-item {
  padding: 10px;
}

.profile-picture {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.padder {
  padding: 20px;
  padding-top: 0px;
  // min-height: calc()
}

.message-list {
  min-height: calc(100vh - 300px);
}

.main-content {
  padding: 20px;
  min-width: 300px;
  padding-top: 0px;
}


