//

.markdown-html {
  img {
    width: 100%;
  }
}

.photoblog-item {
  min-width: 150px;
  cursor: pointer;

  iron-image {
    width: 100%;
    height: 150px;
  }
}

.document-item-anchor {
  text-decoration: none;

  .document-item {
    padding: 10px;
  }
}


#photoblog-dialog {
  width: 70%;
  max-width: 540px;
}

#photoblog-dialog-image {
  width: 100%;
  max-width: 500px;
}

.category-title {
  margin: 5px;
  margin-left: 0px;
}

#email-dialog {
  padding: 20px;
}
