@import 'styles/variables';
@import 'styles/mixins';

@include hide-on-smalldesktop();
@include hide-on-largescreen();

app-header {
  background-color: $light;
  color: $gray-dark;
  
  app-toolbar {
    height: $navigation-header-height;
    
    span[main-title] {
      margin-left: $navigation-header-margin-left;

      img {
        height: 70px;
      }
      
      @include smalldesktop {
        margin-left: 10px;
      }
      
      @include phone {
        margin-left: 10px;
      }
      
      @include tablet {
        margin-left: 10px;
      }
    }
  }  
}