//

project-nice-member-form {
  min-width: 300px;
}

project-nice-member-view {
  min-width: 300px;
}

.padder {
  padding: 20px;
  padding-top: 0px;
}

.main-content {
  padding: 20px;
  min-width: 300px;
  padding-top: 0px;
}