// Put your mixins for Project Nice here

@import 'variables';

////////// Phone //////////
@mixin phone {
  @media (max-width: map-get($grid-breakpoints, phone) - 1) {
    @content
  }
}

////////// Tablet //////////
@mixin tablet {
  @media (min-width: map-get($grid-breakpoints, phone)) and (max-width: map-get($grid-breakpoints, tablet) - 1) {
    @content;
  }
}

////////// Small Desktop //////////
@mixin smalldesktop {
  @media (min-width: map-get($grid-breakpoints, tablet)) and (max-width: map-get($grid-breakpoints, smalldesktop) - 1) {
    @content;
  }
}

////////// Large Screen //////////
@mixin largescreen {
  @media (min-width: map-get($grid-breakpoints, smalldesktop) - 1) {
    @content;
  }
}

///////// Visibility ////////////
@mixin hide-on-phone() {
  .hide-on-phone {
    @include phone {
      display: none;
    }
  }
}

@mixin hide-on-tablet() {
  .hide-on-tablet {
    @include tablet {
      display: none;
    }
  }
}

@mixin hide-on-smalldesktop() {
  .hide-on-smalldesktop {
    @include smalldesktop {
      display: none;
    }
  }
}

@mixin hide-on-largescreen() {
  .hide-on-largescreen {
    @include largescreen {
      display: none;
    }
  }
}

@mixin hide-screens() {
  @include hide-on-phone();
  @include hide-on-tablet();
  @include hide-on-smalldesktop();
  @include hide-on-largescreen();
}

///////// Visible-only //////////
@mixin phone-only() {
  .phone-only {
    @include tablet {
      display: none;
    }

    @include smalldesktop {
      display: none;
    }

    @include largescreen {
      display: none;
    }
  }
}

@mixin tablet-only() {
  .tablet-only {
    @include phone {
      display: none;
    }

    @include smalldesktop {
      display: none;
    }

    @include largescreen {
      display: none;
    }
  }
}

@mixin smalldekstop-only() {
  .smalldekstop-only {
    @include phone {
      display: none;
    }

    @include tablet {
      display: none;
    }

    @include largescreen {
      display: none;
    }
  }
}

@mixin largescreen-only() {
  .largescreen-only {
    @include phone {
      display: none;
    }

    @include tablet {
      display: none;
    }

    @include smalldekstop {
      display: none;
    }
  }
}

@mixin smallscreens-only() {
  .small-screens-only {
    @include smalldesktop {
      display: none;
    }

    @include largescreen {
      display: none;
    }
  }
}

@mixin desktop-only() {
  .desktop-only {
    @include phone {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }
}

@mixin visible-screens() {
  @include phone-only();
  @include tablet-only();
  @include smalldesktop-only();
  @include largescreen-only();
  @include smallscreens-only();
  @include desktop-only();
}

@mixin flex-wrapper() {
  .flex-wrapper {
    width: 100.1%;
  }
}


//////// Visibility-all /////////
@mixin visibility() {
  @include hide-screens();
  @include visible-screens();
  @include flex-wrapper();
}

